/* ===================================
   BUTTONS
=================================== */

.save-button{

  background:#0094FF;

  color:white;

  border:none;

  padding:14px 24px;

  border-radius:14px;

  cursor:pointer;

}

.save-button:hover{

  background:#25A2FF;

}

.filter-button{

  display:flex;

  align-items:center;

  gap:8px;
}

.filter-button,
.new-print-button{

  border:none;

  background:#0094ff;

  color:white;

  padding:14px 20px;

  border-radius:14px;

  cursor:pointer;

}

.new-print-button{

  background:
    linear-gradient(
      90deg,
      #0d8eff,
      #1aa0ff
    );

  box-shadow:
    0 0 20px
    rgba(
      0,
      148,
      255,
      .25
    );

}

.table-button{
  padding:12px 18px;
  border-radius:12px;
  border:none;
  cursor:pointer;
  background:#0D1A2B;
  color:white;
}

.edit-button{
  width:34px;
  height:34px;
  border:none;
  border-radius:10px;
  background:#152740;
  color:white;
  cursor:pointer;
}

.edit-icon{
  width:38px;
  height:38px;
  border:none;
  border-radius:10px;
  background:
    rgba(
      255,
      255,
      255,
      .04
    );
  color:white;
  cursor:pointer;
}

.edit-icon:hover{

  background:
    rgba(
      255,
      255,
      255,
      .08
    );

}

.delete-button-table{

  width:34px;
  height:34px;

  border:none;

  border-radius:10px;

  background:
    rgba(
      255,
      77,
      77,
      .12
    );

  color:#ff4d4d;

  cursor:pointer;

}

.delete-icon{

  background:none;

  border:none;

  cursor:pointer;

  color:#ff4d4d;

  font-size:18px;

}

.install-button{

  width:100%;

  margin-top:15px;

  height:50px;

  border:none;

  border-radius:16px;

  background:#132742;

  color:white;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:0 16px;

  cursor:pointer;

}

.install-plus{

  width:30px;

  height:30px;

  border-radius:50%;

  background:#0094FF;

  display:flex;

  justify-content:center;

  align-items:center;

  font-size:18px;

  font-weight:700;

}

.action-buttons{
  display:flex;
  gap:10px;
}
